body{
    margin: 0;
    min-height: 100vh;
    background-image: url(Fondo/modelocita4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}