h6 {
    width:96%;
    height:200;
    background-color: rgba(139, 40, 0, 0.719);
    margin: 20px 20px ;
}


h1,h4,h5 {
    width:50%;
    height:200;
    margin: 5px 20px;
}

.cambio{
    width: 100%;
    height: 600%;
    overflow: hidden;
}

.cambio ul{
    display: flex;
    animation: siguiente 15s infinite
    alternate linear;
}

.cambio ul{
    margin: 0;
    padding: 0;
}

.cambio li {
    width: 100%;
    list-style: none;
}

.cambio{
    width: 100%;
    height: 100%;
}

@keyframes siguiente{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    60%{margin-left: -200%;}

    65%{margin-left: -300%;}
    70%{margin-left: -300%;}

    75%{margin-left: -400%;}
    80%{margin-left: -400%;}

    85%{margin-left: -500%;}
    90%{margin-left: -500%;}

    95%{margin-left: -600%;}
    100%{margin-left: -600%;}
}

